
  <div class="container-fluid">
      <div class="register" id="reghead">
          <h1 class="display-3" align="right"><strong>Welcome Admin</strong></h1>
    <div id="regpara">
      <h1>Select the Operation from the Sidebar</h1>
    </div>
      </div>   
  </div>
  <div class="container-fluid background" >
  <div class="row">
    <div class="col-md-4 col-sm-2 col-xs-12">
      <div class="nav-side-menu">
  <div class="brand">Admin Operations</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

      <div class="menu-list">
        <ul>
          <li routerLink="/adminhome/adminaddstore">Add a store</li>
          <li routerLink="/adminhome/admindelstore">Delete a store</li>
          <li routerLink="/adminhome/adminadditem">Add food item</li>
          <li routerLink="/adminhome/admindelitem">Delete food item</li>
          <li routerLink="/adminhome/adminviewfood">Food Details</li>
          <li routerLink="/adminhome/adminviewstore">Store Details</li>
          <li routerLink='/adminhome/adminupdatefood'>Update Food Details</li>
          <li  (click)="logoutadmin()">logout</li>
        </ul>
          
</div>
</div>
    </div>
  </div>
