h2{
    text-align: center;
  }
  html, body {
  min-height: 100%;
  }
  body { margin-top:20px; }
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 2; }
.pl-ziro { padding-left: 0px; }
  body, div, form, input, select, textarea, p { 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
  }
  form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 25px 0 #d6e0f5; 
  }
  .banner {
  position: relative;
  height: 300px;
    
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

   select, textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  }
  
  select {
  width: 100%;
  padding: 7px 0;
  background: transparent;
  }
  textarea {
  width: calc(100% - 12px);
  padding: 5px;
  }
      .item input:hover, .item select:hover, .item textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 6px 0 #d6e0f5;
  color: #d6e0f5;
  }
  .item {
  position: relative;
  margin: 10px 0;
  }

  .item i {
  right: 2%;
  top: 28px;
  z-index: 1;
  }

  .btn-block {
  margin-top: 10px;
  text-align: center;
  }
  button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px; 
  background: #0087cc;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  }
  button:hover {
  background: #6eb8dd;
  }
  .price{
    position:-webkit-sticky;
    position:sticky;
    z-index: 1;
    top:0;
    color: white;
    background-color: blue;
  }

.creditCard{
    margin-left: 150px;
    }

.orderForm{
    margin-left: 100px; 
}
@media (max-width: 568px) {
    .name-item, .city-item {
     display: flex;
    
    flex-wrap: wrap;
     justify-content: space-between;
            }
            .creditCard{
                margin-left: 0;
            }
            .orderForm{
                margin-left: 0;
            }
          }