.pricetag
{
    margin-left: 102px;

}
.footer
{
  background-color:#132556;
  color:#f2f2f2;
}

.typeprice
{
    background-color: "#E2E1E5" ;
    
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: cursive;
  font-weight: 100;
  margin: 0;

}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    
    position:-webkit-sticky ;
    position: sticky;
    top: 0;
    z-index: 9999;

  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}