<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src="./src/bootstrap-input-spinner.js"></script>
<script>
    $("input[type='number']").inputSpinner()
</script>
</head>
<body>



<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
                            <th style="width:8%">Quantity</th>
							<th style="width:10%" class="text-center" >&nbsp;&nbsp;&nbsp;&nbsp;Subtotal</th>
							<!--<th style="width:10%"></th>-->
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let f of food ; let i=index">
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="../../assets/images//food-order-logo.jpg" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
                                        <p class="nomargin" style="font-size: large;">{{f.name}} </p>
										
										<span>
											<select id="storeDropdown">
											<option selected disabled>Store</option>
											<option class="dropdown-item"  *ngFor="let store of getStoreListFromLocalStorage(f.name)">{{store.name}}</option>
											
											<option  class="dropdown-item">KFC</option></select>
										</span>
										</div>
                                </div>
							</td>
                            <td data-th="Price">{{f.price}}</td>
                            
							<td data-th="Quantity" [(ngModel)]="quant" ngDefaultControl>
                                <input type="number" id="quant" min="1" [value]="f.quantity" max="10" step="1"/>
                            </td>
                            <button name="OK" id="conf"  class="btn btn-info btn-sm" (click)="handleClick(f,i)" style="margin-top: 4.5px;">OK</button>
							<td data-th="Subtotal" >{{f.price*f.quantity}}</td>
							<td class="actions" data-th="">
								
								<button class="btn btn-danger btn-sm"  (click)="deleteList(f,i)"><i class="fa fa-trash-o"></i></button>								
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total</strong></td>
						</tr>
						<tr>
							<td><a  routerLink="/homepage"class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total Rs. {{total}}</strong></td>
							<td><a [routerLink]="['/cart/order',total]" (click)="checkOutButton()"class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
				</table>
</div>
</body>
</html>
